<div class="heading">
  Customer Orders
</div>
<div class="num-orders" *ngIf="!custOrder">
  No Order Available for this Customer
</div>

<div class="num-orders" *ngIf="custOrder">
  <div>Total No. of Orders for this customer {{custOrder.length}}</div>
<div class="row">
  <div *ngFor="let customerOrder of custOrder; let i=index">
  <div class="column">
    <div class="card">
      <img src="../../assets/img_avatar3.png" alt="Avatar" style="width:50%">
<div class="cust-order">
  <div class="order-details">
    <div>Order Id- {{customerOrder.orderId}}</div>
    <div> Customer Id:- {{customerOrder.email}} </div>
    <div>Total Bill Amount- {{customerOrder.amount}}</div>
    <mat-divider></mat-divider>
    <div *ngFor="let products of custOrder[i].product">
      <div>Product Name:- {{products.productName}} </div>
      <div>Product Price:- {{products.productPrice}}</div>
    </div>
  </div>
</div>
    </div>
  </div>
  </div>
</div>
</div>
