<div class="orders">
<div class="heading" style="margin-top: 75px">Orders</div>
<div class="row" style="margin: auto;">
  <div class="floatLeft">
      <!--<div class="revenue-progress-bar" style="width: 25%; margin-left: 25px;">
        Test
        <mat-progress-bar class="clients-target" [color]="color"
                          mode="determinate"
                          [value]="numCust*10"
                          [bufferValue]="bufferValue">
    </mat-progress-bar>
      </div>-->

<div class="chart-container" style="position: relative; height:125%; width:100%; z-index: -1;">
  <canvas id="canvas"></canvas>
</div>
    <div class="myprogress-bar" style="display: flex;">
  <div class="clients-progress-bar" style="
    width: 25%;
    margin: auto;
    float: left;
    margin-left: 25px;">
    Clients Target
    <mat-progress-bar class="clients-target" [color]="color"
                      mode="determinate"
                      [value]="numCust"
                      [bufferValue]="bufferValue*11"
                      style="z-index: -1;">
    </mat-progress-bar>
  </div>
    <div class="revenue-progress-bar" style="width: 25%; margin: auto;">
      Revenue Target
      <mat-progress-bar class="clients-target" [color]="color"
                        mode="determinate"
                        [value]="totalRevenue/10000"
                        [bufferValue]="bufferValue*11"
                        style="z-index: -1;">
      </mat-progress-bar>
    </div>

    <div class="product-progress-bar" style="width: 25%; margin: auto;">
      Product Target
      <mat-progress-bar class="clients-target" [color]="color"
                        mode="determinate"
                        [value]="totalProducts"
                        [bufferValue]="bufferValue*11"
                        style="z-index: -1;">
      </mat-progress-bar>
    </div>
  </div>
    <div class="new-row">
      <div class="col-lg-6 col-xl-4">
        <div class="new-card mb-3 widget-content bg-night-fade">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">
                Total Orders
              </div>
              <div class="widget-subheading">
              </div>
            </div>
            <div class="widget-content-right">
              <span>{{numOrders}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div class="new-card mb-3 widget-content bg-night-fade">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">
                Products Sold
              </div>
            </div>
            <div class="widget-content-right">
              <span>{{totalProducts}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="new-row">
      <div class="col-lg-6 col-xl-4">
        <div class="new-card mb-3 widget-content bg-night-fade">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">
                Clients
              </div>
            </div>
            <div class="widget-content-right">
              <span>{{numCust}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div class="new-card mb-3 widget-content bg-night-fade">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">
                Total Revenue
              </div>
            </div>
            <div class="widget-content-right">
              <span>{{totalRevenue}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="floatRight">
  <button mat-raised-button id="create-order" (click)="createOrder()" style="margin-top: 20px">Add a new Order</button>
<button mat-raised-button id="logout-button" (click)="openModal()" style="margin-top: 20px">Delete All Orders</button>

<div class="filter">
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort class="lessons-table mat-elevation-z8" style="float: right">

  <ng-container matColumnDef="orderId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</mat-header-cell>
    <mat-cell *matCellDef="let lesson">{{lesson.orderId}}</mat-cell>
    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Id</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let lesson">{{lesson.email}}</mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let lesson">{{lesson.amount}}</mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalRevenue}}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
     <mat-cell *matCellDef="let lesson">
      <button mat-icon-button color="accent" (click)="redirectToDetails(lesson.email)">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
     </mat-cell>
    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
  </ng-container>

  <!--<ng-container matColumnDef="Update">
    <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
    <mat-cell *matCellDef="let lesson">
      <button mat-icon-button color="accent" (click)="redirectToUpdate(lesson.email)">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </mat-cell>
  </ng-container>-->

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let lesson">
      <button mat-icon-button color="warn" (click)="redirectToDelete(lesson.email)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

</table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="float: right"></mat-paginator>
  </div>
  </div>
</div>
<!--<div class="row">
  <div *ngFor="let order of orders">

  <div class="column">
    <div class="card">
  <div>Order Id- {{order.orderId}}</div>
      <div> Customer Id:-
        <a style="cursor:pointer;" class="stretched-link" [routerLink]="['/customer', order.email]"><h4><b>{{order.email}}</b></h4></a>
      </div>
  <div>Total Bill Amount- {{order.amount}}</div>
  <div>Product Name || Product Price</div>
  <div *ngFor="let product of order.product">
    <div>{{product.productName}} || {{product.productPrice}}</div>
  </div>
  <mat-divider></mat-divider>
</div>
    </div>
  </div>
</div>-->
<router-outlet></router-outlet>
