<div *ngIf="route.children.length === 0" style="overflow-x: hidden;">
<mat-card style="margin-top: 48px; padding-left: 525px;">
  <mat-label class="heading" style="padding-right: 20px; font-weight: bold; font-size: larger">Customers</mat-label>
  <span style="padding-right: 20px; color: dodgerblue">
  <a style="cursor:pointer;" (click)="onAddCustomer()">New Customer</a>
  </span>
  <input type="text" name="search" id="search" [(ngModel)]="search" placeholder="Search Customer">
  <a (click)="onSearch(search)" style= "cursor:pointer">Search</a>||
  <a (click)="onClear()" style= "cursor:pointer">Clear</a>
</mat-card>
<mat-divider [inset]="true"></mat-divider>

     <!-- <mat-card>
        <ul>
      &lt;!&ndash;<li><a style="cursor:pointer;" (click)="onCardView()">Card View</a></li>&ndash;&gt;
     &lt;!&ndash; <li><a style="cursor:pointer;" (click)="onListView()">List View</a></li>&ndash;&gt;
      <li><a style="cursor:pointer;" (click)="onAddCustomer()">New Customer</a></li>
      <li><input type="text" name="search" id="search" [(ngModel)]="search">
        <a (click)="onSearch(search)" style= "cursor:pointer">Search</a>||
        <a (click)="onClear()" style= "cursor:pointer">Clear</a></li>
        </ul>
      </mat-card>-->
<!--{{search}}-->

<!--
  <h1>Customers</h1>
  <div *ngFor="let customer of customers" style="width: 300px;">
    <app-customerdetails [customer]='customer'></app-customerdetails>
  </div>
  <div style="margin-top:20px;">
    <button type="button" class="button btn-danger" (click)='deleteCustomers()'>Delete All</button>
  </div>
-->
  <div *ngIf="isSearched">
    <div class="row">
      <div *ngFor="let searched of searchedCustomer">
        <div class="column" *ngIf="numSearchedCustomer > 1; else notShow">

        <div class="card">
          <img src="../../assets/1.png" alt="Avatar" style="width:100%">
          <!--<img src="../../assets/1.png" height="426" width="374"/>-->
          <div class="content">
            <div>Customer Name:- {{searched.fname}} {{searched.lname}} </div>
            <div>  Email:- {{searched.email}} </div>
            <div>  Address:- {{searched.address}}, {{searched.city}} ,{{searched.state}} </div>
            <div> Contact Number:- {{searched.phoneNumber}} </div>
          </div>
        </div>
      </div>
        <ng-template #notShow class="column-searched">
          <div class="card" style="margin: auto; width: 25%;">
            <img src="../../assets/1.png" alt="Avatar" style="width:100%">
            <!--<img src="../../assets/1.png" height="426" width="374"/>-->
            <div class="content">
              <div>Customer Name:- {{searched.fname}} {{searched.lname}} </div>
              <div>  Email:- {{searched.email}} </div>
              <div>  Address:- {{searched.address}}, {{searched.city}} ,{{searched.state}} </div>
              <div> Contact Number:- {{searched.phoneNumber}} </div>
            </div>
          </div>
        </ng-template>
    </div>
    </div>
  </div>
  <div *ngIf="!isSearched">
<p class="title">List of Customers</p>
    <div class="row">
      <div *ngFor="let cust of currentCustomers">
      <div class="column">

<div *ngIf="isCardView">

    <div class="card">
      <a style="cursor:pointer;" id="name-link" [routerLink]="['/customer', cust.email]"><h4><b>{{cust.fname}} {{cust.lname}}</b></h4></a>
      <!--<img src="{{ cust.imgSource ? 'imgSource' : '../../assets/1.png' }}" alt="Avatar" style="width:100%">-->
      <img src="../../assets/1.png" alt="Avatar" style="width:100%">
      <div class="content">
        <div>{{cust.address}}</div>
        <div>{{cust.state}}</div>
        <a style="cursor:pointer;" id="order-link" [routerLink]="['/customer', cust.email, 'orders']"><h4><b>View Orders</b></h4></a>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

</div>
  <router-outlet></router-outlet>




  <!--
<mat-tab-group>
  <mat-tab label="Card View">
    <nav mat-tab-nav-bar>
      <a style="cursor:pointer;" (click)="onCardView()">
      </a>
    </nav>
  </mat-tab>
  <mat-tab label="List View">
    <nav mat-tab-nav-bar>
      <a style="cursor:pointer;" (click)="onListView()">
      </a>
    </nav>
  </mat-tab>
  <mat-tab label="Add Customer">
    <nav mat-tab-nav-bar>
      <a style="cursor:pointer;" (click)="onAddCustomer()">
      </a>
    </nav>
  </mat-tab>
</mat-tab-group> -->


    <!--
    <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>


    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>


    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
    </table> -->

<!-- <button mat-raised-button (click)="onRemoveCustomer()">Remove Customer</button> -->
